#aaronjpg { border-radius: 35px; padding: 20px; width: 320px; height: 480px;}

#tretsawardplaque2021png { border-radius: 10px; padding: 5px; width: 300px; height: auto;}

#casawardplaque2020jpg { border-radius: 10px; padding: 5px; width: 300px; height: auto;}

#casawardunb2020jpg { border-radius: 10px; padding: 5px; width: 450px; height: auto;}

#casawarddaryl2020jpg { border-radius: 10px; padding: 5px; width: 280px; height: auto;}
